@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    img, video {
        max-width: initial;
        height: initial;
    }
}

html {
    background-color: black;
    font-family: 'Archivo', sans-serif;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.88);
    scroll-behavior: smooth;
}

.custom-text-green-black-gradient {
    background: linear-gradient(270deg, #0E0E0E 0%, #9FB7B1 42.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.custom-text-black-green-gradient {
    background: linear-gradient(90deg, #202020 0%, rgba(80, 119, 105, 0.88) 101.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.custom-text-black-gradient {
    background: linear-gradient(90deg, #ffffff 0%, #333333 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.custom-text-lightgreen-gradient {
    background: linear-gradient(90deg, #C0E1DB 0%, rgba(76, 118, 108, 0.88) 101.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.custom-button {
    @apply block px-4 py-2 border text-[#BEDBD4]/[0.8] border-[#BEDBD4] mix-blend-difference duration-500 text-sm md:text-xl md:py-2 md:px-7
}

.custom-transparent-text-bordered {
    font-size: 230px;
    font-style: italic;
    opacity: 0.15;
    letter-spacing: 1px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-fill-color: rgba(255, 213, 0, 0);
}

/*TODO fare noise effect*/
.benefits-section {
    color: black;
    font-weight: 200;
    background: linear-gradient(90deg, rgba(194, 227, 219, 0.88) 0%, #FFFFFF 100%);
}